@page "/settings"
@using Toolbox.Data.Models
@using Toolbox.Data.Common
@using Toolbox.Services
@using Microsoft.Web.Administration
@using System.IO
@using Toolbox.Components.Settings

<div class="settings-root">
  <aside class="settings-nav">
    <MudList T="object" Dense="true">
      <MudListSubheader Class="fw-bold">Einstellungen</MudListSubheader>
      <MudListItem Class="m-0" T="object" Selected="@(_section==SettingsSection.General)" Icon="@Icons.Material.Filled.Tune" OnClick="@(()=>Select(SettingsSection.General))">Allgemein</MudListItem>
      <MudListItem Class="m-0" T="object" Selected="@(_section==SettingsSection.Logs)" Icon="@Icons.Material.Filled.Message" OnClick="@(()=>Select(SettingsSection.Logs))">Logs</MudListItem>
      <MudListItem Class="m-0" T="object" Selected="@(_section==SettingsSection.IIS)" Icon="@Icons.Material.Filled.Computer" OnClick="@(()=>Select(SettingsSection.IIS))">IIS</MudListItem>
    </MudList>
  </aside>
  <section class="settings-content">
    <MudText Typo="Typo.h6" Class="settings-section-title mb-0">@GetSectionTitle()</MudText>
    @switch (_section)
    {
        case SettingsSection.General:
            <GeneralSettings />
            break;
        case SettingsSection.Logs:
            <LogSettings />
            break;
        case SettingsSection.IIS:
            <IisSettings />
            break;
    }
  </section>
</div>

@code {
    private enum SettingsSection {General, Logs, IIS }
    private SettingsSection _section = SettingsSection.General;
    private void Select(SettingsSection s) => _section = s;
    private string GetSectionTitle() => _section switch
    {
        SettingsSection.General => "Allgemein",
        SettingsSection.IIS => "IIS",
        SettingsSection.Logs => "Logs",
        _ => "Einstellungen"
    };
}

